@import url('responsivo.css');
@import url('template.css');


textarea {
  width: 100%;
  min-height: 15em;
}

.corpo{
  background-color:#333;
  color:white;
 
  align-items: center;
  margin-bottom: 10px;
}

.b-ap{
  margin-bottom: 20px;
}
