@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: #f0f0f0;
	color: #333;
} 

span{
	color: #da3241;
}

a{
	color: #333;
	text-decoration: none;
}

a:hover{
	color: #666;
	text-decoration: none;
}

.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.linkSWFIS{
	display: inline;
	font-weight: bold;
	font-size: 1em;
	margin: 0 9px;
}

.submenu{
	padding: 3px 15px;
	border: 2px solid red;
}

.background{
	background-color: #da3241;
	border-radius: 100%/20%;
}

.welcome{
	width: 100%;
}

.astroneer{
	position: relative;
	height: 500px;
	right: -25%;
	top: -100px;
}

.novo-jeito{
	width: 300px;
	font-size: 2em;
	font-weight: bold;
	position: relative;
	top: -400px;
	right: -60%;
}

.div-about{
	width: 100%;
	display: flex;
	justify-content: center;
}

.about{
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 1.2em;
	width: 700px;
	padding: 100px 0 50px 0;
}

.about-text{
	width: 45%;
}

.sobre{
	font-weight: bold;
	margin: 0 0 20px 0;
	font-size: 1.5em;
}

.about-p{
	font-size: 1.1em;
	line-height: normal;
}

.imagem{
	width: 30%;
	margin: auto;
}

.img-about{
	width: 100%;
	height: auto;
	-webkit-animation: spin 50s linear infinite;
	-moz-animation: spin 50s linear infinite;
	animation: spin 50s linear infinite;
}

@-webkit-keyframes spin{
	100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
	100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
	100%{-webkit-transform: rotate(360deg);}
}

.overview{
	width: 100%;
	padding: 0 20%;
	margin: auto;
}


.title-overview{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: #fff;
	padding: 0px;
	margin: 0px 0px 40px 0px;
}

.div-carousel{
	height: 250px;
}

.SWFIS-banners{
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.text-banner{
	width: 50%;
	color: #fff;
}

.title-text-banner{
	font-size: 2rem;
	margin: 5px 0;
	font-weight: bold;
}

.subtitle-banner{
	width: 40%;
	font-size: 0.7em;
}

.imagem-carousel-slide{
	width: 50%;
	display: flex;
	justify-content: space-evenly;
}

.detalhes{
	width: 27%;
	display: flex;
	flex-direction: column;
	border: 1px solid #fff;
}

.img-carousel{
	width: 100%;
}

.data-evento{
	position: absolute;
	height: 40px;
	top: 105px;
	color: #fff;
	font-size: 0.7em;
}

.saiba-mais{
	display: none;
}

.contact{
	padding: 120px 0 150px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
}

.contact-link{
	color: #fff;
	border: 2px solid #fff;
	padding: 5px;
	border-radius: 3px;
	letter-spacing: 1px;
}

.contact-link:hover, .link-apoie:hover{
	color: #fff;
}

.news{
	display: flex;
	flex-direction: column;
	margin: 30px auto;
	width: 60%;
}

.ultimas-noticias{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.title-ultimas-noticias{
	font-size: 1.3em;
	font-weight: bold;
}

#plus-circle{
	width: 20px;
	height: 20px;
}

.descricao-noticia{
	display: flex;
	justify-content: space-between;
}

.caixa-noticia{
	width: 30%;
}

.img-caixa-noticia{
	width: 100%;
	height: 90px;
	background-color: #666;
}

.title-news{
	font-size: 0.9em;
	font-weight: bold;
	color: #000;
	margin: 5px 0px 5px 0px;
}

.subtitle-news{
	font-size: 0.7em;
	width: 100%;
	margin: 0;
	font-weight: bold;
}

.apoie{
	width: 100%;
	height: 120px;
	background-color: #333;
	color: #fff;
	margin: 60px 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title-apoie{
	font-size: 1.2em;
	margin: 0;
	font-weight: bold;
}

.link-apoie{
	color: #fff;
	border: 2px solid #fff;
	padding: 5px 8px;
	font-size: 0.8em;
	font-weight: bold;
	margin: 10px;
	border-radius: 3px;
}

.footer{
	height: 170px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social-web{
	width: 50%;
	height: 50px;
	margin: 45px 0px 15px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer p{
	font-size: 1em;
	color: #da3241;
	font-weight: bold;
}

.logo-footer{
	width: 45px;
	background-color: #da3241;
	padding: 2px;
	border-radius: 100%;
	margin: 0 10px;
}
