@media (max-width: 900px){
    .img_time{
        height:40vh;

    }
}

@media (max-width: 770px) {
    .img_time{
        height:35vh;

    }
}

@media (max-width: 634px) {
    .img_time{
        justify-content: center;

    }
    .div-about{
        display: inline-block;
    }
    .content{


        margin: auto;
    }
    .w2{
        justify-content: center;
        margin:auto;
    }
}
