@import 'animations.css';
@import 'responsive.css';

.w1{
    justify-content: center;
    margin: auto;
}
.img_time{
    height: 70vh;

}

.div-about{
    display: flex;
    align-items: center;
   
}

.content{
    position: relative;
    padding: 40px 60px;
    color: #333;
    text-align: center;
    transition: 0.5s;
   
}
.content:hover{
    color:white;
}
.content a{
    color: rgb(255, 148, 166);
    position: relative;
    display: inline-block;
    margin-top: 10px;
    border:2px solid white;
    padding: 6px 18px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 73% 27% 44% 56%/ 49% 44% 56% 51%;
    transition: 0.5s;
}
.content a:hover{
    background: white;
    color:#333;
}

@media (max-width: 900px){
    .img_time{
        height:45vh;

    }
}

@media (max-width: 770px) {
    .img_time{
        height:35vh;

    }
}



@media (max-width: 634px) {
    .img_time{
        justify-content: center;

    }
    .div-about{
        display: inline-block;
    }
    .content{


        margin: auto;
    }
    .w2{
        justify-content: center;
        margin:auto;
    }
}
