@import 'responsivo.css';
@import 'keyframes.css';

.welcome{
	position: relative;
}
.welcome img{
	position: absolute;
	left: 50%;
	bottom: 50%;
	z-index: 10;
	height:100%;
}
.welcome p{
	font-weight: bold;
	position: absolute;
	left: 50%;
	bottom: 50%;
	z-index: 11;
}
.curve{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 5;
	border-radius: 85% 85% 0 0;
}
.welcome a{
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	border: 1px solid #ff6d6d;
	border-radius: 100%;
	margin: 0 0 20px 0;
	animation: jump 3s linear infinite;
}

.about{
	padding: 25px 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
}
.atom{
	animation: spin 8s linear infinite;
	width: 300px;
	height: 300px;
	color: rgba(255, 255, 255, 0.4);
}
.line {
	position: absolute;
	top: 0;
	left: 100px;
	width: 98px;
	height: 298px;
	border: 1px solid #fff;
	border-radius: 120px / 350px;
}
.line:nth-child(2) {
	transform: rotate(55deg);
}
.line:nth-child(3) {
	transform: rotate(-55deg);
}
.neutrino {
	position: absolute;
	width: 20px;
	height: 20px;
	background:#f1f1f1;
	border: 2px solid lightgray;
	border-radius: 12px;
	left: 37px;
	top: -8px;
	animation: neutrino 1s linear infinite;
}
.b {
	animation-delay: 0.6s;
}
.c {
	animation-delay: 0.3s;
}
.quark {
	position: absolute;
	top: 135px;
	left: 135px;
	width: 30px;
	height: 30px;
	background: white;
	border-radius: 15px;
}

.agenda{
	width: 100%;
}
.title-slider{
	font-weight: bold;
	color: #ffffff;
	text-align: center;
}
.item-slider{
	color: #fff;
	font-weight: bold;
	background-color: #da3241;
	display: flex;
	justify-content: center;
}
.content-slide{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
}
.description{
	width: 40%;
	height: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.dataevento, .descricaoevento{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.linkevento{
	background-color: #ffffff;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s;
	color: #da3241;
}
.description-banner{
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: row;
}
.description-banner img{
	margin: auto 0 auto auto;
	width: 90%;
	max-width: 90%;
	max-height: 90%;
}

.contact{
	padding: 30px 0;
	width: 100%;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 85% 85%/30%;
	font-weight: bold;
}
.contact a{
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 3px;
	transition: all .5s;
}
.contact a:hover{
	background-color: #fb8585;
}


.news{
	width: 100%;
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ultimas-noticias{
	width: 85%;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}
.ultimas-noticias a{
	color: #da3241;
	width: 115px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
.descricao-noticia{
	margin: 10px 0;
	width: 85%;
	overflow-x: scroll;
	white-space: nowrap;
}
.caixa-noticia{
	margin: 0 5px 0 0;
	display: inline-block;
}
.caixa-noticia p{
	color: #333333;
	width: 100%;
	margin: 5px 0;
	white-space: pre-wrap;
	font-weight: bold;
}
.img-caixa-noticia{
	width: 100%;
	margin: auto;
	background: #9A9A9A;
}
.img-caixa-noticia img{
	height: 100%;
	width: 100%;
}

.apoie{
	width: 100%;
	background-color: #333;
	color: #fff;
	margin: 40px 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.apoie p{
	margin: 20px 0 0 0;
	font-weight: bold;
}
.apoie a{
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	margin: 10px 0 20px 0;
	border-radius: 3px;
	transition: all .5s;
}
.apoie a:hover{
	background-color: #656565;
}