@media only screen and (min-width: 320px) and (max-width: 425px){
	.welcome{
		height: 250px;
	}
	.welcome img{
		max-width: 200px;
		transform: translate(-85%, 55%);
	}
	.welcome p{
		font-size: 18px;
		width: 150px;
		transform: translate(0, 70%);
	}
	.curve{
		height: 85px;
	}
	.welcome a{
		width: 40px;
		height: 40px;
		font-size: 15px;
	}


	.about-text{
		width: 45%;
		max-width: 190px;
	}
	.about-text .sobre{
		font-size: 20px;
		margin: 0 0 10px 0;
	}
	.about-text p{
		font-size: 12px;
	}
	.about img{
		width: 35%;
		max-width: 130px;
		height: auto;
	}

	/* SLIDER SHOW DINAMICO COM BX-SLIDER */

	.contact p{
		font-size: 13px;
	}
	.contact a{
		margin: 10px;
		font-size: 10px;
		padding: 5px;
	}


	.descricao-noticia{
		height: 180px;
	}
	.caixa-noticia{
		width: 180px;
		height: 100%;
	}
	.img-caixa-noticia{
		height: 60%;
	}
	.ultimas-noticias{
		font-size: 15px;
	}
	.caixa-noticia p{
		font-size: 11px;
	}
	p.title{
		font-size: 13px;
	}


	.apoie{
		height: 100px;
	}
	.apoie p{
		font-size: 14px;
	}
	.apoie a{
		font-size: 12px;
		padding: 5px 8px;
	}
}

@media only screen and (min-width: 426px) and (max-width: 768px){
	.welcome{
		height: 350px;
	}
	.welcome img{
		max-width: 350px;
		transform: translate(-80%, 50%);
	}
	.welcome p{
		font-size: 25px;
		width: 200px;
		transform: translate(5%, 50%);
	}
	.curve{
		height: 120px;
	}
	.welcome a{
		width: 50px;
		height: 50px;
		font-size: 20px;
	}

	
	.about-text{
		width: 45%;
	}
	.about-text .sobre{
		font-size: 25px;
		font-weight: bold;
		margin: 0 0 10px 0;
	}
	.about-text p{
		font-size: 18px;
	}
	.about img{
		width: 50%;
		max-width: 200px;
		height: auto;
		z-index: 0;
	}


	/* SLIDER SHOW DINAMICO COM BX-SLIDER */


	.contact p{
		font-size: 20px;
	}
	.contact a{
		margin: 15px;
		font-size: 16px;
		padding: 8px;
	}


	.caixa-noticia{
		width: 300px;
	}
	.ultimas-noticias{
		font-size: 20px;
	}
	.caixa-noticia p{
		font-size: 13px;
	}
	p.title{
		font-size: 15px;
	}
	.news{
		height: 250px;
	}
	.img-caixa-noticia{
		height: 120px;
	}


	.apoie{
		height: 130px;
	}
	.apoie p{
		font-size: 20px;
	}
	.apoie a{
		font-size: 16px;
		padding: 7px 10px;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
	.welcome{
		height: 450px;
	}
	.welcome img{
		max-width: 400px;
		transform: translate(-90%, 55%);
	}
	.welcome p{
		font-size: 30px;
		width: 250px;
		transform: translate(5%, 70%);
	}
	.curve{
		height: 150px;
	}
	.welcome a{
		width: 50px;
		height: 50px;
		font-size: 20px;
	}


	.about-text{
		width: 40%;
	}
	.about p.sobre{
		font-size: 24px;
		font-weight: bold;
	}
	.about p{
		font-size: 18px;
	}
	.about img{
		width: 200px;
	}


	/* SLIDER SHOW DINAMICO COM BX-SLIDER */


	.contact{
		height: 150px;
	}
	.contact p{
		margin: 10px 0;
		font-size: 20px;
	}
	.contact a{
		font-size: 18px;
		padding: 5px 10px;
	}


	.descricao-noticia{
		height: 300px;
	}
	.caixa-noticia{
		height: 100%;
		width: 300px;
	}
	.img-caixa-noticia{
		height: 60%;
	}
	.ultimas-noticias{
		font-size: 22px;
	}
	.caixa-noticia p.title{
		font-size: 18px;
	}
	.caixa-noticia p{
		font-size: 14px;
	}


	.apoie{
		height: 120px;
	}
	.apoie p{
		font-size: 20px;
	}
	.apoie a{
		font-size: 18px;
		padding: 5px 10px;
	}
}

@media only screen and (min-width: 1025px){
	.welcome{
		height: 450px;
	}
	.welcome img{
		max-width: 450px;
		transform: translate(-90%, 50%);
	}
	.welcome p{
		font-size: 30px;
		width: 250px;
		transform: translate(0, 60%);
	}
	.curve{
		height: 150px;
	}
	.welcome a{
		width: 50px;
		height: 50px;
		font-size: 20px;
	}


	.about-text{
		width: 40%;
	}
	.about p.sobre{
		font-size: 28px;
		font-weight: bold;
		margin: 0 0 20px 0;
	}
	.about p{
		font-size: 22px;
	}
	.about img{
		width: 300px;
	}


	/* SLIDER SHOW DINAMICO COM BX-SLIDER */


	.contact{
		height: 150px;
	}
	.contact p{
		margin: 10px 0;
		font-size: 20px;
	}
	.contact a{
		font-size: 18px;
		padding: 5px 10px;
	}


	.ultimas-noticias{
		font-size: 22px;
	}
	.descricao-noticia{
		height: 280px;
	}
	.caixa-noticia{
		height: 100%;
		width: 300px;
	}
	.img-caixa-noticia{
		height: 60%;
	}
	.caixa-noticia p.title{
		font-size: 18px;
	}
	.caixa-noticia p{
		font-size: 14px;
	}


	.apoie{
		height: 120px;
	}
	.apoie p{
		font-size: 20px;
	}
	.apoie a{
		font-size: 18px;
		padding: 5px 10px;
	}
}