@media only screen and (min-width: 320px){

	.welcome{
		position: relative;
		background-color: #f0f0f09a;
		min-height: 300px;

		img, p, .curve, a{
			position: absolute;
			left: 50%;
		}

		img{
			height: 100%;
			top: 50%;
			z-index: 5;
			opacity: 0.8;
			transform: translate(-50%, -50%);
		}

		p{
			z-index: 10;
			width: 100vw;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			font-size: 20px;
			color: #000000;
			left: 0;
			font-weight: bold;

			span{
				padding-left: 5px;
			}
		}

		.curve{
			bottom: 0;
			left: 0;
			width: 100vw;
			height: 80px;
			z-index: 1;
			border-radius: 85% 85% 0 0;
			background-color: #db33409a;
		}

		a{
			color: #bd2a36;
			border: 2px solid #bd2a36;
			border-radius: 100%;
			min-width: 40px;
			min-height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 10;
			bottom: 0;
			transform: translate(-50%, -5px);
		}
	}

	.div-about{
		width: 100vw;
		// padding: 0;
		min-height: 350px;
		// background-color: #fff;
	}
	
	//.agenda{}

	.contact{
		margin: 0 0 20px 0;
		border-radius: 0 0 85% 85%/30%;
		width: 100vw;
		height: 100px;
		font-weight: bold;
		color: #FFFFFF;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p{
			font-size: 16px;
			margin-bottom: 10px;
		}

		a{
			padding: 5px 8px;
			color: #FFFFFF;
			border: 1px solid #ffffff;
			border-radius: 3px;
			transition: all .5s;
		}
	}

	// .news{}

	.apoie{
		min-height: 100px;
		background-color: #333333;
		display: flex;
		color: #fff;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p{
			font-size: 16px;
		}
		
		a{
			margin: 5px 0 0 0;
			border-radius: 3px;
			border: 1px solid #ffffff;
			font-size: 14px;
			color: #ffffff;
			padding: 5px 8px;
		}
	}

}