.title-gallery{
	width: 80%;
	text-align: center;
	margin: 20px 10%;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1px;
}
.form-gallery{
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.gallery-control{
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-evenly;
}
.gallery-control label, .submit-image{
	width: 200px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	color: #333333;
	cursor: pointer;
	font-size: 16px;
	transition: all 0.5s;
}
.gallery-control label{
	background-color: #d6d6d6;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gallery-control label:hover{
	background-color: #7c7c7c;
	color: #FFFFFF;
}
.submit-image{
	background-color: #b5dfca;
}
.submit-image:hover{
	background-color: #627264;
	color: #FFFFFF;
}
.image-preview{
	margin-left: 2.5%;
	width: 30%;
	height: 70%;
	border: 1px solid #ddd;

	/* Default Text */
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #aaaaaa;
}
.image-preview__image{
	display: none;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
}
.galeria{
	width: 90%;
	margin: 0 5% 40px;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-width: 33%;
	-moz-column-width: 33%;
	column-width: 33%;
}
.galeria .imagem-galeria{
	margin: 0 0 15px 0;
	position: relative;
	-webkit-transition: all 350ms ease;
	transition: all 350ms ease;
	border-radius: 5px;
}
.galeria .imagem-galeria img{
	width: 100%;
	border-radius: 5px;
}
.imagem-hover{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 80px;
	height: 25px;
	border-radius: 5px;
	background-color: rgba(231, 229, 229, 0.712);
}
.imagem-hover a{
	display: flex;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	font-weight: bold;
	color: #000;
	transition: all 0.5s;
}
.imagem-hover a:hover{
	background-color: rgb(231, 229, 229);	
	border-radius: 5px;
}
