@import 'responsivo.css';

.contato{
	padding: 50px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contato h1{
	font-weight: bold;
	letter-spacing: 5px;
}

.contato form{
	margin: 40px 0;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-content{
	width: 100%;
	display: flex;
	flex-direction: row;
}

.content-input{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 50%;
}

.content-input label{
	font-size: 20px;
	font-weight: bold;
	color: #666666;
}

.content-input input, .content-input label{
	padding: 0 0 0 5px;
	width: 95%;
}

.content-input input{
	border: none;
	height: 30px;
	background: transparent;
	border-bottom: 2px solid #da3241;
}

.content-input input:focus{
	border: none;
}

.form-content-interesse{
	margin: 20px 0;
	width: 100%;
}

.form-content-interesse h3{
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	color: #666666;
}

.form-content-interesse input[type="radio"]{
	display: none;
}

.interesse{
	padding: 10px 0 0 0;
	display: flex;
}

.interesse label{
	height: 40px;
	width: 150px;
	background-color: #e8e8e8;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #333333;
	transition:all .5s;
}

.interesse label#show{
	padding: 0 10px 0 0;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	border-right: 1px solid #aaaaaa;
}

.interesse label#patr{
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	border-left: 1px solid #aaaaaa;
}

input#show:checked ~ #show{
	background-color: #da3241;
	color: #fff;
}

input#ambo:checked ~ #ambo{
	background-color: #da3241;
	color: #fff;
}

input#patr:checked ~ #patr{
	background-color: #da3241;
	color: #fff;
}

.form-content-mensagem{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.form-content-mensagem label{
	font-size: 20px;
	font-weight: bold;
	color: #666666;
}

.form-content-mensagem textarea{
	border: none;
	padding: 5px 0 0 5px;
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	background: transparent;
	border-bottom: 2px solid #da3241;
	font-size: 15px;
}

.contato form button{
	margin: 20px 0 0 0;
	width: 200px;
	font-size: 14px;
	color: #fff;
	border: none;
	height: 40px;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Roboto';
	border-radius: 20px;
	background-color: #da3241;
	transition: all 0.5s;
}

.contato form button:hover{
	background-color: #c4525b;
}