form{
	width: 50%;
	margin: 0 auto 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
form h1{
	text-align: center;
	font-size: 30px;
	letter-spacing: 1px;
	font-weight: bold;
	margin: 30px 0;
}
.div-org{
	width: 100%;
	display: flex;
	margin: 20px 0;
	align-items: center;
	justify-content: space-evenly;
}
.div-input{
	position: relative;
	margin: 10px 0 20px;
}
.select{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.w1{
	width: 100%;
}
.w2{
	width: 50%;
}
.w3{
	width: 33%;
}
.w4{
	width: 25%;
}
form .div-input input,  
form .div-input label,
form .div-input textarea{
	box-sizing: border-box;
	outline: none;
	border: none;
	box-shadow: none;
	padding-left: 5px;
	font-weight: bold;
}
form .div-input label{
	position: absolute;
	top: 10px;
	width: 95%;
	margin: 0 2.5%;
	left: 0;
	font-size: 20px;
	font-weight: bold;
	color: #666666;
	width: 100%;
	pointer-events: none;
	transition: 0.5s;
}
form .div-input input{
	width: 95%;
	margin: 0 2.5%;
	font-size: 16px;
	border: none;
	height: 40px;
	background-color: transparent;
	border-bottom: 2px solid #999999;
}
form .div-input textarea{
	width: 97.5%;
	max-width: 658px;
	min-width: 658px;
	padding: 10px 0 0 5px;
	margin: 0 1.25%;
	min-height: 160px;
	font-size: 16px;
	border: none;
	background-color: transparent;
	border-bottom: 2px solid #999999;
}
form .div-input input:focus,
form .div-input input:valid,
form .div-input textarea:focus,
form .div-input textarea:valid{
	border-bottom: 2px solid #da3241;
}
form .div-input input:focus ~ label,
form .div-input input:valid ~ label,
form .div-input textarea:focus ~ label, 
form .div-input textarea:valid ~ label{
	top: -15px;
	font-size: 17px;
	color: #da3241;
}
form input[type=radio]{
	display: none;
}
form h3{
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	color: #666666;
}
.radio{
	padding: 10px 0 0 0;
	display: flex;
}
.radio label{
	height: 40px;
	width: 140px;
	background-color: #e8e8e8;
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 16px;
	justify-content: center;
	font-weight: bold;
	color: #333333;
	transition:all .5s;
}
.radio label#first{
	padding: 0 10px 0 0;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	border-right: 1px solid #aaaaaa;
}
.radio label#last{
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	border-left: 1px solid #aaaaaa;
}
input#first:checked ~ #first{
	background-color: #da3241;
	color: #fff;
}
input#second:checked ~ #second{
	background-color: #da3241;
	color: #fff;
}
input#last:checked ~ #last{
	background-color: #da3241;
	color: #fff;
}
form .form-navigation{
	margin: 20px 0;
	width: 100%;
	display: flex;
	justify-content: center;
}
form .form-navigation button,
form .form-navigation a{
	width: 150px;
	height: 40px;
	margin: 0 15px;
	display: flex;
	border: none;
	font-size: 18px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s;
}
form .form-navigation button[type=submit],
.form-navigation a{
	background-color: #da3241;
}
form .form-navigation button[type=reset]{
	background-color: #7a7a7a;
}
form .form-navigation button[type=submit]:hover,
.form-navigation a:hover{
	background-color: #f79097;
	color: #000;
}
form .form-navigation button[type=reset]:hover{
	background-color: #c2c2c2;
	color: #000;
}
.div-org .label-image{
	width: 200px;
	padding: 15px 0;
	border-radius: 30px;
	text-align: center;
	background-color: #cecece;
	cursor: pointer;
	transition: all 0.5s;
}
.div-org .label-image:hover{
	color: #fff;
	background-color: #808080;
}
.div-org .image-preview{
	margin-left: 2.5%;
	width: 60%;
	height: 250px;
	border: 1px solid #ddd;

	/* Default Text */
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #aaaaaa;
}
.select select{
	margin: 10px 0 0 0;
	height: 40px;
	border: none;
	background-color: #e0e0e0;
	border-radius: 10px;
	padding: 0 20px;
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
}