html{
	scroll-behavior: smooth;
}
*{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}
body{
	background-color: #F0F0F0;
}
a{
	text-decoration: none;
}
span{
	color: #da3241;
}
.fundo{
	background-color: #db3340;
}