@import 'responsivo.css';

.news-background{
    width: 100%;
    margin: auto;
   align-items: center;
   justify-content: center;
}

.news-background h1 h3{
   margin: auto;
   align-items: center;
   justify-content: center;
   text-align: justify;
}

.news-background img{
    width: 100%;
    height: 200px;
}
.news-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paragraph{
    width: 40vw;
    color: #666666;
    margin: 20px 15%;
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
}